<header>
    <h3 id="title">ParCours</h3>
    @if(user){
        <nav>
            <ul>
                <li>
                    <a routerLink="" routerLinkActive="active">
                        Dashboard
                        <div class="bottomLine"></div>
                    </a>
                </li>
                <li>
                    <a routerLink="sessions" routerLinkActive="active">
                        Sessions
                        <div class="bottomLine"></div>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="user">
            <span>{{ user.first_name.charAt(0).toUpperCase() + user.first_name.slice(1) }}</span>
            <button (click)="logout()">Se déconnecter</button>
        </div>
    }
</header>
