<app-header></app-header>
<main>
    <form [formGroup]="loginFormGroup" class="authForm">
        <h2 id="title">Connexion</h2>

        <div class="formControl">
            <label for="username"><h4>Nom d'utilisateur</h4></label>
            <input type="text" name="username" id="username" formControlName="username" placeholder="JohnDoe" required>
        </div>

        <div class="formControl">
            <label for="password"><h4>Mot de passe</h4></label>
            <input type="password" name="password" id="password" formControlName="password" placeholder="******" required>
        </div>

        <div class="formControl">
            <label for="rememberMe">Se souvenir de moi</label>
            <input type="checkbox" name="rememberMe" formControlName="rememberMe">
        </div>

        <button (click)="onSubmit()">Se connecter</button>
        @if (this.invalidCredentials) {
            <p class="error">Identifiants invalides</p>
        }
    </form>
</main>